@import '../../../core/colors';

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: $primary;
}

.tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-item {
  padding: 10px 30px;
  color: $white;
  transition: background-color, border 0.3s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 3px solid $transparent;

  &::first-letter {
    text-transform: uppercase;
  }

  &.selected {
    background-color: $secondary;
    border-bottom: 3px solid $white;
  }

  &:hover {
    background-color: $secondary;
    border-bottom: 3px solid $white;
  }

  &:active {
    background-color: $secondary-70;
  }
}