@import '../../../core/colors';

.page1 {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .buttons {
    display: flex;
    margin-top: 50px;
  }

  .button {
    margin: 0 10px;
  }
}