$primary: #c63030;
$secondary: #993232;
$white: #ffffff;
$transparent: #00000000;


// Teintes

$primary-30: rgba($primary, 0.3);
$primary-50: rgba($primary, 0.5);
$primary-70: rgba($primary, 0.7);
$secondary-30: rgba($secondary, 0.3);
$secondary-50: rgba($secondary, 0.5);
$secondary-70: rgba($secondary, 0.7);